
body{
	background: url(../img/bg.jpg) no-repeat fixed!important;
	  -webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
 	 background-size: cover;
}

div{
  color: #000 !important;
}
